// bootstrap
@import "bootstrap.less";

//font
/* @font-face {
	font-family: 'WWF';
	src: url('../fonts/WWF.eot');
	src: local('☺'), url('../fonts/WWF.woff') format('woff'), url('../fonts/WWF.ttf') format('truetype'), url('../fonts/WWF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

//variable-fonts
@heading-font-family: Arial, sans-serif;
@second-font-family: Arial, sans-serif;

//variable-colors
@black: #000000;
@black-transparent: rgba(0, 0, 0, 0.8);
@white: #ffffff;
@gray: #666666;
@light-gray: #dedede;
@theme-color: #92D051;
@dark-theme-color: #26A548;
@link-color: #333333;
@heading-color: @black;
@paragraph-spacing: 10px;

@google-map-height: 400px;

//functions
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
	transition: @transition;
}

//global styles
* {
	margin: 0;
	padding: 0;
}
body {
	color: @gray;
	font-size: 12px;
	font-family: @heading-font-family;
	line-height: 16px;
}

a {
	color: @link-color;
	border: 0;
	&:hover {
		text-decoration: none;
		.transition(300ms all ease-in-out);
	}
}
a, a:hover, a:focus, a:active {
	outline: 0;
	text-decoration: none;
}
a.white-link {
	color: @white;
}
a.link-underline {
	&:hover {
		text-decoration: underline;
	}
}
article {
	margin-bottom: 30px;
}

/* img {
	max-width: 100%; //for responsive
	height: auto;
} */

ul {
	li {
		line-height: 23px;
		list-style: none;
		a {
			color: @gray;
		}
	}
}
.full-width {
	width: 100%;
}

//headings
h1, h2 {
	margin-top: 0;
	margin-bottom: 20px;
}
h1 {
	color: @heading-color;
	font-size: 22px;
	font-weight: bold;
	//margin-top: 0;
	//text-transform: uppercase;
}
h2 {
	color: @link-color;
	font-size: 18px;
}

//paragraph
p {
	margin-bottom: @paragraph-spacing;
}

//cover image
.img-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

//buttons
button {
	.transition(300ms all ease-in-out);
}
.btn {
	border-radius: 0;
	font-size: inherit;
}
.btn-good-neighbors {
	background: @theme-color;
	color: @white;
	display: inline-block;
	padding: 2px 15px;
	&:active,
	&:hover,
	&:focus {
		color: @white;
	}
}


header {
	background: @theme-color;
	border-bottom: 1px solid @light-gray;
	margin-bottom: 30px;
	.navbar-default {
		background-color: @theme-color !important;
		border: 0;
		//height: 90px;
		.navbar-header {
			.navbar-brand {
				height: auto;
				padding: 0;
				img {
					@media screen {
						@media (max-width: 360px) {
							width: 240px;
						}
					}
				}
			}
			.navbar-toggle {
				border: 0;
				margin-right: 0;
				margin-top: 38px;
				&:hover,
				&:focus,
				&:active {
					background-color: @dark-theme-color;
				}
				.icon-bar {
					background-color: @white;
				}
			}
		}//navbar-header
		.navbar-collapse {
			border-color: @white;
			margin-top: 10px;
			@media screen {
				@media (min-width: 768px) {
					float: right !important;
				}
			}
			li {
				a {
					color: @white;
					font-weight: bold;
					&:hover {
						color: @white;
					}
				}
			}
		}
	}
}//header ends

.content {
	padding-bottom: 10px;
}

//sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
footer {
	background: #302D26;
	color: @white;
	position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 10px 0;
	a {
		color: @white !important;
		font-weight: 700;	
	}
}//ends footer

.filter {
	background-color: @light-gray;
	height: 70px;
	padding: 20px;
	.filter-item {
		float: left;
		label {
			margin-right: 10px;
			@media screen {
				@media (max-width: 980px) {
					width: 100px;
				}
			}
		}//label ends
		@media screen {
			@media (min-width: 981px) {
				padding: 0 20px;				
			}
			@media (max-width: 980px) {
				width: 50%;
				margin-bottom: 10px;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media screen {
		@media (max-width: 980px) {
			height: auto;
		}
	}
}

.google-map {
	background: @light-gray;
	height: @google-map-height;
	overflow: hidden;
}
/* contact form css */
input, textarea, button {
	border: 0;
	outline: none;
}
.filter input[type=text] {
	border: 1px solid #d3d3d3;
	width: 100px;
	@media screen {
	}
}
.filter input[type=text] {
	padding-left: 5px;
	padding-right: 5px;
}
.filter input[type=text], .filter select {
	height: 28px;
	width: 100px;
	@media screen {
		@media (max-width: 1024px) {
			width: 80px;
		}
		@media (max-width: 980px) {
			width: 180px;
		}
		@media (max-width: 640px) {
			width: 120px;
		}
		@media (max-width: 480px) {
			width: 90%;
		}
	}
}
.filter input[type=submit] {	
	background-color: @theme-color;
	color: #ffffff;
	height: 32px;
	left: 0;
	line-height: 32px;
	text-align: center;
	width: 90px;
}
.filter input[type=submit]:hover {
	background-color: @dark-theme-color;
	-webkit-transition: all 500ms ease-in-out;  
	-moz-transition:    all 500ms ease-in-out;
	-ms-transition:     all 500ms ease-in-out; 
	-o-transition:      all 500ms ease-in-out; 
}

//busses
.bus-item {
	background-color: @black;
	margin-bottom: 80px;
	&.bus-single-item {
		margin-bottom: 40px;
	}
	.bus-img {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 180px;
		position: relative;
		.bus-info {
			background: @black-transparent;
			color: @white;
			//display: none;
			opacity: 0;
			font-weight: bold;
			position: absolute;
			text-align: center;
			width: 100%;
			height: 180px;
			line-height: 180px; 
			.transition(1s all ease);
			span {
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
				font-size: 14px;
			}
		}
		.bus-num {
			bottom: -40px;
			//display: none;			
			height: 40px;
			line-height: 40px;
			//font-weight: bold;
			font-size: 18px;
			position: absolute;
			text-align: center;
			width: 100%;
		}
		&:hover {
			//transform: scale(1.2,1.2);
			//.transition(1s all ease);
		}
		&:hover .bus-info {
			opacity: 1;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
.bus-detail {
	margin-bottom: 40px;
	.bus-info {
		margin-bottom: 20px;
		p {
			span {
				display: inline-block;
				font-weight: bold;
				margin-right: 20px;
				width: 100px;;
			}
		}
	}
}

//css3 animation - spinner
.spinner-wrap {
	background: @black-transparent;
	position: absolute;
	height: @google-map-height;
	//width: 100%;
	z-index: 1;
}
.spinner {
	color: @white;
	font-weight: bold;
	height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  //height: 63px;
  margin:-50px 0 0 -80px;
	text-align: center;
	img.image-spin {
		margin-bottom: 15px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
	}
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }


//responsive
@media screen {
	@media (max-width: 360px) {
		.col-xs-6 {
			width: 100%;//bus image is bus page 
		}
	}
}
